<div class="sidenav-container">
  <div class="main-menu-container" [ngClass]="{'expanded': isOpen}">
    <div class="logo"><span>t</span></div>
    <div class="menu">
      <a [routerLink]="['', item.url]" routerLinkActive="active" [ngClass]="{'active': !item.url && item === selectedMenuItem}"
        class="menu-item" *ngFor="let item of menuItems" (click)="setSelectedItem(item)">
        <i class="material-icons menu-item-icon">{{item.iconName}}</i>
        <span class="menu-item-text">{{item.name}}</span>
      </a>
    </div>
    <div class="footer">
      <button class="expand-button" (click)="isOpen = !isOpen" [ngClass]="{'flipped': isOpen}">
        <i class="material-icons">arrow_forward</i>
      </button>
    </div>
  </div>
  <div class="sub-menu-container" [ngClass]="{'active': selectedMenuItem?.subItems}" [@listAnimation]="selectedMenuItem?.subItems?.length" (mouseleave)="setHoveredSubMenu(null)">
    <app-focus-arrow [selectedItem]="selectedSubMenu" [hoveredItem]="hoveredSubMenu"></app-focus-arrow>
    <ng-container *ngFor="let item of selectedMenuItem?.subItems">
      <h3>{{item.name}}</h3>
      <a [routerLink]="['', link.url]" routerLinkActive="active" appMenuItem [value]="link" class="menu-item"
        (click)="setSelectedSubMenu(link)" (mouseenter)="setHoveredSubMenu(link)" *ngFor="let link of item.items">
        <span class="menu-item-text">{{link.name}}</span>
      </a>
    </ng-container>
  </div>
</div>