@import '../../component-styles/button';

$main-menu-color: #039BE5;
$sub-menu-color: #03A9F4;
$animation: 360ms cubic-bezier(0.6, 0, 0, 1);

.sidenav-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .main-menu-container {
    background-color: $main-menu-color;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 16px 0;
    box-sizing: border-box;
    transition: width $animation;
    overflow: hidden;
    flex: none;

    .logo {
      margin-left: 6px;
      color: $main-menu-color;
      background-color: white;
      height: 45px;
      width: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 54px;
      border-radius: 50%;
      flex: none;

      span {
        font-family: 'Pacifico';
        margin-left: -5px;
      }
    }

    .menu {
      margin: 30px 0 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
      flex: none;

      &-item {
        @include buttonReset();
        background: transparent;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        text-decoration: none;

        &-icon {
          font-size: 26px;
          padding: 0 30px 0 16px;
          box-sizing: border-box;
        }

        &-text {
          font-size: 1rem;
          letter-spacing: 1px;
        }

        &:hover,
        &.active {
          background: $sub-menu-color;
        }

        &:active {
          background: rgba(255, 255, 255, 0.3);
        }
      }
    }

    .footer {
      margin-top: auto;

      .expand-button {
        @include buttonReset();
        background: transparent;
        color: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.1s, transform $animation;
        margin: 0 10px;

        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }

        &:active {
          background: rgba(255, 255, 255, 0.3);
        }

        &.flipped {
          transform: rotateZ(180deg);
        }
      }
    }

    &.expanded {
      width: 240px;
    }
  }

  .sub-menu-container {
    background-color: $sub-menu-color;
    height: 100%;
    width: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    transition: width $animation, padding $animation;

    h3 {
      color: white;
      margin: 50px 0 10px;
      white-space: nowrap;

      &:first-of-type {
        padding-top: 40px;
      }
    }

    .menu-item {
      @include buttonReset();
      display: flex;
      white-space: nowrap;
      background-color: transparent;
      height: 50px;
      color: white;
      text-decoration: none;
      align-items: center;
      font-size: 1rem;
      width: 100%;
      padding: 0;
      margin-left: 20px;
      font-size: 15px;

      &.active {
        font-weight: bold;
      }
    }

    &.active {
      padding: 0 30px;
      width: 190px;
    }
  }
}
