<div class="sidenav-container">
  <div class="main-menu-container" [ngClass]="{'expanded': isOpen}">
    <div class="logo"><span>t</span></div>
    <div class="menu">
      <button class="menu-item" *ngFor="let item of menuItems" [ngClass]="{'selected': selectedMenuItem?.name === item.name}" (click)="setSelectedItem(item)">
        <i class="material-icons menu-item-icon">{{item.iconName}}</i>
        <span class="menu-item-text">{{item.name}}</span>
      </button>
    </div>
    <div class="footer">
      <button class="expand-button" (click)="toggleExpansion()" [ngClass]="{'flipped': isOpen}">
        <i class="material-icons">arrow_forward</i>
      </button>
    </div>
  </div>
  <div style="overflow: hidden" *ngIf="selectedMenuItem?.subItems" @animateWidth [@listAnimation]="selectedMenuItem.subItems.length">
    <div class="sub-menu-container">
      <button class="menu-item" *ngFor="let item of selectedMenuItem.subItems">
        <span class="menu-item-text">{{item.name}}</span>
      </button>
    </div>
  </div>
</div>