@import './component-styles/index';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

button,
div,
p,
span,
a,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Quicksand', sans-serif;
}
